
<div class="animated zoomIn">
  <div class="card card-accent-primary">
    <div class="card-header">
      <h2 class="text-center"> Ajouter un Employé</h2>
    </div>
    <div class="card-body">

      <div class="col-md-6 user-container">


        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

        
        
          <div class="form-group">
            <label for="username"> Username:</label>
            <input formControlName="username" name="username" class="form-control" id="username">
          </div> <div class="form-group">
            <label for="nom"> Nom:</label>
            <input formControlName="nom" name="nom" class="form-control" id="nom">
          </div>
          <div class="form-group">
            <label for="prenom"> Prénom:</label>
            <input formControlName="prenom" name="prenom" class="form-control" id="prenom">
          </div>
        

          <button [disabled]="clicked"   class="btn btn-success"><i class="icon-plus"></i></button>
        </form>
      </div>

    </div>

  </div>

</div>
